.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Text-center{
  text-align: center;
}
.panel-body .btn{
  margin: 10px;
}
.Text-center .btn{
  margin: 2px;
}
.panel-heading{
  background-color:  sandybrown;
}
.panel{
  border-radius: 5px;
  border: 3px solid sandybrown;
}
.panel-body{
  padding: 15px;
}
.input-group-btn{
  z-index: 2;
  margin-left: -1px;
}
.label{
  background-color: greenyellow;
    border-radius: 6px;
}
.label2{
  background-color:red;
  border-radius: 6px;
}
table tr {
  background-color: white !important;
}
.table{
  margin-top: 15px;
}
.panel-heading {
  padding: 5px 15px;
  
 
}
.panel-heading .btn-danger{
  margin-left: 97px;
}